# Link API từ Backend của bạn
# Đối với máy ảo Android: http://10.0.2.2:8080/identity
# Đối với máy thật + dây cáp (sau khi chạy adb reverse): http://localhost:8080/identity
API_URL=http://localhost:8080/identity
